*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
}

.navbar ul {
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);

}
.navbar li{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
}
a.active{
    color: brown;
}
.navbar button {
    background: #000;
    color: #fff;
    padding: 12px 25px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
}
.navbar img{
    width: 60px;
    height: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 77.6px);
}
.container h1{
    font-size: 100px;
}

.contact-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-buttons button{
    background: #000;
    color: #fff;
    padding: 12px 25px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.jobs{
    padding: 40px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.jobs a{
    flex: 1;
    text-decoration: none;
    padding: 10px;
    background: #efefef;
    color: #000;
}